button {
    height: 30px;
    width: auto;
    font-size:medium;
    font-style: bold;
    margin-right:50px;
}

div{
    height: 25px;
    width: 550px;
    font-size:large;
    text-align: center;
    font-style: bold;
    margin-right:50px;
    border:dashed;
    margin:10px;
}

input {
    margin-left:5px;
    margin-right:20px;
}

h1 , h2 {
    color: rgb(9, 32, 6);
    text-align:center;
}

p {
    margin-right:15px;
    padding-bottom: 5px;
    /* float:left; */
    /* background-color: rgb(50, 226, 82); */
    border-bottom: solid;
}

#par {
    width:auto;
    word-wrap:break-word;
    padding:5px;
}

#myAddress {
    margin-right: 100px;

}

#ETHToSend {
    background-color: rgb(133, 243, 140);
    padding:10px;
}


label {
    margin-right: 25px;
}

form input {
    width: 350px;
}
